<!-- Top navigation-->
<div class="dashboardNav-wrapper">
    <app-nav-bar></app-nav-bar>
</div>

<!DOCTYPE html>
<html lang="en">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
        
<div class="container mt-5 myContainer mx-auto">
  <div class="col-4 offset-4 fill-style-1 displayTable displayTableCell authBlock">
    <h3>Change your Email Address</h3>
    <form #form="ngForm" (ngSubmit)="onNewEmail(form)">
      
      <div class="form-group">
        <input type="email" class="form-control" ngModel placeholder="Last Email Address" name="lastEmail"
        [(ngModel)]="lastEmailAddress" required>
        <div class="mt-2 text-danger"></div>
      </div>

      <div class="error" *ngIf="lastEmailinvalid">
        <span>last Email is invalid</span>
      </div>

      <div class="error" *ngIf="lastEmailNull">
        <span>last Email is required</span>
      </div>

      <div class="form-group">
        <input type="email" class="form-control" ngModel placeholder="New Email Address" name="newEmail"
        [(ngModel)]="newEmailAddress" required>
        <div class="mt-2 text-danger"></div>
      </div>

      <div class="error" *ngIf="sameEmailError">
        <span>last Email is same to new Email</span>
      </div>

      <div class="error" *ngIf="newEmailNull">
        <span>new Email is required</span>
      </div>

      <div class="error" *ngIf="invalidEmail">
        <span>Please fill a valid email</span>
      </div>

      <div class="form-group">
        <input type="password" class="form-control" ngModel placeholder="Password" name="password" required>
        <div class="mt-4 text-danger"></div>
      </div>

      <div class="error" *ngIf="passwordNull">
        <span>password is required</span>
      </div>

      <div class="error" *ngIf="invalidPassword">
        <span>password is invalid</span>
      </div>
      
      
      <!-- Calling ChangeName Api from AuthService -->
      <div class="form-group">
        <button class="btn btn-primary" type="submit" (click)="changeEmail()">Save</button>
      </div>
    </form>
</div>