<!DOCTYPE html>
<html lang="en">
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<div class="container mt-5 myContainer mx-auto">
  <div class="col-4 offset-2">
    <div class="fill-style-1">
        <div class="displayTableCell">
          <div class="authBlock">
            <h3>Sign Up</h3>
            <form #form="ngForm" (ngSubmit)="signUp(form)" class="sign-up-form">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email Address" name="email" ngModel required>
                <div class="mt-2 text-danger"></div>
              </div>

              <div class="form-group">
                <input type="email" class="form-control" placeholder="Display Name" name="displayName" ngModel required>
                <div class="mt-2 text-danger"></div>
              </div>

              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" name="password" ngModel required>
                <div class="mt-4 text-danger"></div>
              </div>

              <div class="form-group">
                <button [disabled]="form.invalid || form.pending"
                  class="btn btn-primary submit-button" 
                  *ngIf="!form.pending"
                  type="submit">Sign Up
                </button>
              </div>
              
            </form>
            <div class="redirectToLogin">
              <span>Already have an account? <span class="redirect btn-link" routerLink="/sign-in">Sign In</span></span>
            </div>
          </div>
      </div>
    </div>
  </div>