
.feed-wrapper{
    overflow-y:scroll;
    overflow-x: auto;
    max-height: 670px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.myContainer{  
    margin: 0 auto;
    text-align: center;
}

.rowContainer{
    margin-top: 40px;
    padding-bottom: 60px;
}

.myBtn{
    margin-top: 10px;
    margin-left: 12px;
    margin-right: 17px;
    margin-bottom: 5px;

}
.card{
    background-color: transparent;
}
