<div class="container mt-5 myContainer mx-auto center">
    <div class="row">
        <div class="msgForm-wrapper">
            <form #form="ngForm" (ngSubmit)="postMessage(form)">
                <input class="messageInput col-sm-3" name="message" ngModel placeholder="Post something!" type="text">
                <button class="messageBtn btn btn-success myBtn" type="submit" (click)="postMessage">Post</button>
            </form>
        </div>
    </div>
</div>

<div class="container rowContainer">
    <div class="row">
        <div class="feed-wrapper">
            <div *ngFor="let post of posts " class="card">

                <div class="card-body">
                        <h5 class="card-title">
                            {{post?.title}}
                        </h5>
                        
                        <h6 class="card-subtitle mb-2 text-muted">
                            {{post?.time?.seconds *1000 | date: 'shortTime'}}
                            {{post?.date}}
                        </h6>
                        
                        <div class="float-right" *ngIf="authService.currentUser as user">
                            <div *ngIf="(post?.user_id == user?.uid) || user?.admin == true">
                                <div class="col-sm-2 col-12">
                                    <button class="btn btn-success deleteBtn" type="delete" (click)="deleteMessage(this.post)">delete</button>
                                </div>
                            </div>
                        </div>

                    <p class="card-text">
                        {{ post?.message }}
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

