<div class="container mt-5 myContainer mx-auto center">
    <div class="row">
        <div class="msgForm-wrapper">
            <form #form="ngForm" (ngSubmit)="postMessage(form)">
                <input class="messageInput col-sm-3" name="message" ngModel placeholder="Post something!" type="text">
                <button class="messageBtn btn-success myBtn" type="submit" (click)="postMessage">Post</button>
                
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="feed">
            <div *ngFor="let post of posts " class="post">
                <div class="messageContainer">
                    <div class="messageData">
                        <span class="sender">
                            {{post?.title}}
                        </span>
                        <span class="timestamp">
                            {{post?.time?.seconds *1000 | date: 'shortTime'}}
                        </span>
                    </div>
                    <div>
                        {{ post?.message }}
                        <hr>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

